.idea/*
target/*
jar_files/*
jar_files.zip

methods_files.zip
methods_files/
measurements.*
DATASET_HOLST*
*.json
*.csv


complexity_orig/
complexity_rx/

src/main/data/source_code_orig/*
src/main/data/source_code_rx/*

!.gitkeep

src/main/resources/NewClassifier.classifier